.active {
  box-shadow: 0px 0px 3px 1px #8000ff;
  margin: 5px;
}

.logoDiv {
  border: 1px solid #8000ff;
  border-radius: 10px;
  cursor: pointer;
}

.logoImg {
  border-radius: 10px;
  object-fit: cover;
  height: 60px;
  width: 60px;
}

.logoImgActive {
  border-radius: 10px;
  object-fit: cover;
  height: 98px;
  width: 98px;
  transition: all 0.85s ease;
}

.buy-button:hover {
  width: 200;
  border-radius: 1;
  background-color: #8000ff;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.8);
}

.buy-button-active {
  width: 200;
  border-radius: 1;
  background-color: #8000ff;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.8);
}

.isActiveCursor {
  box-shadow: 0px 0px 5px 1px #8000ff;
}

.headActive {
  text-shadow: 3px 3px 5px #8000ff;
}
